@inherits LayoutComponentBase
@using DNP_Assignment.Pages

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    
    <style>
        body {
            background-image:url( https://i.natgeofe.com/n/9135ca87-0115-4a22-8caf-d1bdef97a814/75552_square.jpg);}
         
    </style>

    <div class="main">
        <div class="top-row px-4">
            
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>